---
title: Default Contacts
styles: components/button.scss
maturity: ready
---

<div class="container default_container">
    <img src="{{ site.baseurl }}/src/assets/images/profil1.png" alt="Profilbild von User1">
    <p>Vorname Nachname</p>
    <div class="flex_row">
        <img src="{{ site.baseurl }}/src/assets/images/place_icon.svg" alt="Standort Icon" class="place_icon">
        <p>Ort</p>
    </div>
    <div class="flex_row flex_between">
        <p class="label button tag_button tag_musician no_hover">Musician</p>
        <p class="label button tag_button tag_mastering no_hover">Mastering</p>
        <p class="label button tag_button tag_producer no_hover">Producer</p>
    </div>
</div>