h1,h2,h3,h4,h5,h6,
ul,ol,dd,
p,figure,
table,fieldset,hr {
  margin-bottom: $base-pad;
}

.headline,
h1, h2, h3, h4, h5, h6 {
  line-height: $headline-line-height;
  color: $headline-font-color;
  font-family: $sourcesans3;
  margin-top: 0;
}

h1 {
  font-size: $typo_h1;
  margin-bottom: $base-pad;
}

h2 {
  font-size: $typo_h2;
  margin-bottom: $base-pad;
}

h3 {
  font-size: $typo_h3;
  margin-bottom: $base-pad;
}

p{
  font-size: $typo_body;
}

.bold{
  font-size: $typo_body;
  font-weight: bold;
  margin-bottom: $base-pad;
}

.label{
  font-size: $typo_label;
  margin-bottom: $large-pad;
}