---
title: Nav Buttons
styles: components/button.scss
maturity: ready
---
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Home.svg" alt="Home Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Search.svg" alt="Search Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Contacts.svg"
        alt="Contacts Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/User.svg" alt="User Icon"></a>