---
title: Selected Nav Buttons
styles: components/button.scss
maturity: ready
---
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Home_selected.svg"
                alt="Home Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Search_selected.svg"
                alt="Search Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/Contacts_selected.svg"
                alt="Contacts Icon"></a>
<a href="#" class="button nav_button"><img src="{{ site.baseurl }}/src/assets/images/User_selected.svg"
                alt="User Icon"></a>
