---
title: Tag Buttons Invertiert
styles: components/button.scss
maturity: ready
---
<a href="#" class="label button tag_button tag_invert tag_musician_invert">Musician</a>
<a href="#" class="label button tag_button tag_invert tag_producer_invert">Producer</a>
<a href="#" class="label button tag_button tag_invert tag_mastering_invert">Mastering</a>
<a href="#" class="label button tag_button tag_invert tag_singer_invert">Singer</a>
<a href="#" class="label button tag_button tag_invert tag_sampling_invert">Sampling</a>